<!DOCTYPE html>
<html>
<head>
	<title>Bims cakes&fingerfoods</title>

	<link rel="stylesheet" type="text/css" href="project.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap.css">
	
	
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bims cakes $ finger food</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="Gallery.html">Gallery</a></li>ss
        <li><a href="contact.html">Reach Us</a></li>
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
	<!-- Slider starts Here -->
	<div class="row">
		<div class="col-md-12">
			<div id="my-slides" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
			    <li data-target="#my-slides" data-slide-to="0" class="active"></li>
			    <li data-target="#my-slides" data-slide-to="1"></li>
			    <li data-target="#my-slides" data-slide-to="2"></li>
			    <li data-target="#my-slides" data-slide-to="3"></li>
			    <li data-target="#my-slides" data-slide-to="4"></li>
			    <li data-target="#my-slides" data-slide-to="5"></li>
			    <li data-target="#my-slides" data-slide-to="6"></li>
			    <li data-target="#my-slides" data-slide-to="7"></li>
			    <li data-target="#my-slides" data-slide-to="8"></li>
			    <li data-target="#my-slides" data-slide-to="9"></li>
			  </ol>
			  	<div class="row">
 					 <div class="col-lg-12">
   					 <div class="thumbnail">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="images/photos-by-lanty-568725-unsplash.jpg" alt="cake">
						<div class="carousel-caption">
							<h3>wedding cake</h3>
							<p>A cake to make your day perfect</p>
						</div>
					</div>	
					<div class="item">
						<img src="images/robin-stickel-82145-unsplash.jpg" alt="BURGER">
						<div class="carousel-caption">
							<h3>Home away from Home</h3>
							<p>Eat Right Feel Amazing</p>
						</div>
					</div>
					<div class="item">
						<img src="images/nikhita-singhal-332844-unsplash.jpg" alt="cake">
						<div class="carousel-caption">
							<h3>Birthday cake</h3>
							<p>make your day fun with our cakes!</p>
						</div>
					</div>
					<div class="item">
						<img src="images/dan-gold-298710-unsplash.jpg" alt="home">
						<div class="carousel-caption">
							<h3>Vegetable challenge</h3>
							<p>Eat more veggies!!!</p>
						</div>
					</div>
					<div class="item">
						<img src="images/fancycrave-152531-unsplash.jpg" alt="home">
						<div class="carousel-caption">
							<h3>Cakes</h3>
							<p>We are here to serve you right</p>
						</div>
					</div>
					<div class="item">
						<img src="images/alex-munsell-18756-unsplash.jpg" alt="pork">
						<div class="carousel-caption">
							<h3>Have a different taste today</h3>
							<p>we offer the best grills!</p>
						</div>
					</div>	
					<div class="item">
						<img src="images/amie-watson-474782-unsplash.jpg" alt="food">
						<div class="carousel-caption">
							<h3>foodie!</h3>
							<p>we offer the best!</p>
						</div>
					</div>
					<div class="item">
						<img src="images/fabio-alves-386882-unsplash.jpg" alt="bread">
						<div class="carousel-caption">
						<h3>Delicious meal!</h3>
						<p>Eat Right Feel Amazing</p>
						</div>
					</div>
					<div class="item">
						<img src="images/micheile-henderson-429807-unsplash.jpg" alt="table">
						<div class="carousel-caption">
						<h3>we are here for you</h3>
						<p>Book us today!!</p>
						</div>
					</div>
					<div class="item">
						<img src="images/alexander-mils-702713-unsplash.jpg" alt="chicken">
						<div class="carousel-caption">
						<h3>we have chicken wrapped for you</h3>
						<p>We give what you see</p>
						</div>
					</div>
				</div>
				<!-- Control for next and Previous Slide -->
				<a class="left carousel-control" href="#my-slides" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#my-slides" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>
<div>
	<h1><em><b>We are Bims</em></b></h1>
	<hr>
	<p>At Bims, our mission in the industry is to deliver quality cakes and finger foods with unique taste at a competitive price. Our creamy cakes and quality finger foods has made thousands of customers get back to us for more of our services.</p>

	<p>A little goodies from us will quench your cravings....Eat right, Feel amazing.</p>

	<p>We cater for functions and occassions such as corporate events, social events, school occassions, weddings, engagement, burial ceremonies, dedications......</p>

	<hr>

	<h2>creamy cakes</h2>
	<hr>
	<p>we offer varities of cakes for your different occassions, ranging from butter cakes, sponge cakes, chocolate cakes, strawberry cakes, german cakes and the likes. we are here to make sure your choice is delivered to you at a minimal cost, quality and specified time.</p>
	
	<div class="row">
		<div class="col-lg-4 col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="images/photos-by-lanty-583490-unsplash.jpg" alt="cakes">
			</div>
		</div>
	
		<div class="col-lg-4 col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="images/thomas-william-651493-unsplash.jpg" alt="cakes">
			</div>
		</div>

		<div class="col-lg-4 col-md-3 col-sm-6">
		   <div class="thumbnail">
		    	<img src="images/james-bold-608989-unsplash.jpg" alt="cakes">
		  </div>
		</div>
	

		<div class="col-lg-4  col-md-3 col-sm-6">
	  		<div class="thumbnail">
				<img src="images/sheelah-brennan-47005-unsplash.jpg" alt="cakes">
	    	</div>
		</div>
 
		<div class="col-lg-4 col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="images/brina-blum-114391-unsplash.jpg" alt="cakes">
			</div>
		</div>	 
	</div>
	<hr>
	<h2>Finger foods</h2>
	<hr>
  	<p>We serve sumptous smallchops and after party meals. Call on us for your burgers, hotdogs, chicken wings, fries, chicken and turkey combo.We are not just concerned about the money you pay us but in our dealings we are concious of your helth.
  	</p>
  	<div class="row">
		<div class="col-lg-4 col-sm-6">
    	<div class="thumbnail">
    		<img src="images/brian-chan-12169-unsplash.jpg" alt="chicken"/>
    	</div>
		</div>


	 	<div class="col-lg-4 col-sm-6">
	    <div class="thumbnail">
	    	<img src="images/markus-spiske-680194-unsplash.jpg" alt="fries"/>
	  	</div>
		</div>

	  	<div class="col-lg-4  col-sm-6">
	    <div class="thumbnail">
	    	<img src="images/rachel-park-366508-unsplash.jpg" alt="salad"/>
	  	</div>
		</div>

		<div class="col-lg-4 col-sm-6">
		<div class="thumbnail">
			<img src="images/thomas-tucker-391058-unsplash.jpg" alt="pancake"/>
		</div>
		</div>
	</div>
	<hr>
	<h3>Cocktail</h3>
	<hr>
	<p>We offer sensational drinks to quench your taste and light up every burdens.we use the best and believe in satifying our customers.</p>

	<div class="row">
	  	<div class="col-md-3 col-sm-6">
	    <div class="thumbnail">
	    	<img src="images/c.jpg" alt="drinks">
	    </div>
		</div>

	  	<div class="col-md-3 col-sm-6">
	    <div class="thumbnail">
	    	<img src="images/brooke-lark-175184-unsplash.jpg" alt="drinks">
	    </div>
		</div>

	  	<div class="col-md-3 col-sm-6">
	    <div class="thumbnail">
	    	<img src="images/monika-grabkowska-317238-unsplash.jpg" alt="drinks">
	    </div>
		</div>

		<div class="col-md-3 col-sm-6">
	    <div class="thumbnail">
	    	<img src="images/alex-loup-397220-unsplash.jpg" alt="drinks">
	    </div>
		</div>
	</div>
	<hr>
	<div class="jumbotron">
  		<h1>EAT RIGHT, EAT CAKE, EAT FINGER FOODS,FEEL AMAZING.</h1>
  		<p>A little goodies from us to quench your cravings.</p>
  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Make your Order!</a></p>
	</div>
	<h4>Our Training</h4>
	<p>Our training school offers a variety of courses in cake making, decorations, sinful dessert, finger foods and lots more.
	Courses can be started at any time and time are scheduled at your own conveniences. <br>Call on us now!!!</p>
	
	<!--footer-->
<footer id="footer">
            <div class="footer-widget dark-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">Our Mission</h3>
                            </div>
                            <!-- Text -->
                            <p>Our mission is simply the delivery of quality smallchops with a unique taste at an affordable price that would not leave a hole in your pocket.</p>
                            <!-- Address -->
                            <p>
                            <strong>Office:</strong> 
                            1, Old Obadore Road, Akesan,Off Lasu-Isheri Road, Lagos, Nigeria.
                            </p>                        
                            <!-- Phone -->
                            
                            
                            
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 widget newsletter bottom-xs-pad-20">
                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">Newsletter Signup</h3>
                            </div>
                            <div>
                                <!-- Text -->
                                <p>Subscribe to Our Newsletter to get latest, Amazing Offers &amp; Discounts:</p>
                                <p class="form-message1" style="display: none;"></p>
                                <div class="clearfix"></div>
                                <!-- Form -->
                                <form id="subscribe_form" action="#" method="post" name="subscribe_form" role="form" novalidate="novalidate" class="bv-form"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                    <div class="input-text form-group has-feedback">
                                    <input class="form-control" type="email" value="" name="subscribe_email" data-bv-field="subscribe_email"><i class="form-control-feedback bv-no-label" data-bv-icon-for="subscribe_email" style="display: none;"></i> 
                                    <button class="submit bg-color" type="submit">
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                    </button><small class="help-block" data-bv-validator="notEmpty" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED" style="display: none;">Email is required. Please enter email.</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a correct email address.</small></div>
                                </form>
                            </div>
                        </div>
                        <!-- .newsletter -->
                        <div class="col-xs-12 col-sm-6 col-md-4 widget">
                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">End_Note</h3>
                                  <p>We are always here for you. Do not hestitate to reach us for any information needed via our contact list, We appreciate you all and looking forward to your patronage.</p>
                                  <p>Phone: 08188214009, 08123021483</p>
                            </div>
                    </div>
                </div>
            </div>
            
            <div class="copyright dark-section">
                <div class="container">
                    <div class="row">
                        <!-- Copyrights -->
                        <p> © 2018 <a href="http://Bimsscakes&fingerfoods.ng">Bims | services </a> | Designed by <a href="http://Abiola Ogidan.com.ng" target="_blank">Abiola Ogidan</a></p>
                       
                         
                        </div>
                        <div class="col-xs-2 col-sm-6 col-md-6 text-right page-scroll gray-bg icons-circle i-3x">
                            <!-- Goto Top -->
                            <a href="#page">
                              <i class="glyphicon glyphicon-arrow-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom -->
        </footer>

	

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
